@import 'fonts.scss';
@import 'variables.scss';

html,
body,
h1,
h2,
h3 {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: $dark-blue;
  font-family: Helvetica, sans-serif;

  section {
    padding: 20px;

    h1 {
      font-family: 'Bebas', sans-serif;
      font-size: 56px;
      color: $dark-blue;
      text-transform: uppercase;
      text-align: center;
      margin: 40px 0 40px;
    }
  }
}
